<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* Easylife_Breadcrumbs extension
*
* NOTICE OF LICENSE
*
* This source file is subject to the MIT License
* that is bundled with this package in the file LICENSE_EASYLIFE_BREADCRUMBS.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/mit-license.php
*
* @category       Easylife
* @package        Easylife_Breadcrumbs
* @copyright      Copyright (c) 2014
* @license        http://opensource.org/licenses/mit-license.php MIT License
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="BreadcrumbReader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">Easylife\Breadcrumbs\Model\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">\Easylife\Breadcrumbs\Model\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">breadcrubs.xml</argument>
        </arguments>
    </virtualType>
    <type name="Easylife\Breadcrumbs\Model\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">BreadcrumbReader</argument>
            <argument name="cacheId" xsi:type="string">easylife_breadcrumbs</argument>
        </arguments>
    </type>

</config>
